/* body {
    margin: 0 auto;
    background-color: black;
}

#centerContent {
    height: 100vh;
    background-image: url('./background-image/coding.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    position: relative;
}

.container {
    height: 450px;
    width: 750px;
    position: absolute;
    top: 440px;
    left: 960px;
    background-color: transparent;
    display: flex;
    align-items: center;
}

.container-left {
    height: 450px;
    width: 375px;
    background-image: url('./background-image/hacker\ coding\ with\ a\ keyboard.png');
    background-repeat: no-repeat;
    background-size: 400px 400px;
    background-position: center;
    margin-top: 40px;
}

.container-right {
    height: 450px;
    width: 375px;
    background-color: transparent;
    text-align: center;
}

h2 {
    text-align: center;
    color: white;
}

.box {
    height: 50px;
    width: 300px;
    margin: 20px 40px 20px;
    background-color: blanchedalmond;
}

.signInBox {
    display: flex;
    align-items: center;
}

.box .signIn {
    background-color: green;
} */

