:root {
    --body-bg: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
    --msger-bg: #fff;
    --border: 2px solid #ddd;
    --left-msg-bg: #ececec;
    --right-msg-bg: #579ffb;
  }
  
  .dark-mode {
    filter: invert(1) hue-rotate(180deg);
  }

  html {
    box-sizing: border-box;
  }
  
  *,
  *:before,
  *:after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
  }
  
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: var(--body-bg);
    font-family: Helvetica, sans-serif;
  }
  

.msger {
    /* display: flex; */
    flex-flow: column wrap;
    justify-content: space-between;
    width: 100%;
    max-width: 867px;
    margin: 25px 10px;
    height: 90vh;
    border: var(--border);
    border-radius: 5px;
    background: var(--msger-bg);
    box-shadow: 0 15px 15px -5px rgba(0, 0, 0, 0.2);
  }


  .middle-area {
    display: flex;
    /* height: 100%; */
    
  }
  
  .msg-talk-area {
    flex:5;
    /* display: flex; */
    /* height: 100%; */
  }
  
  .onlineSection {
    flex:1;
    background-color: lightgray;
    display: flex;
    flex-direction:column;
    align-items: center;  
  }


  .msger-header {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-bottom: var(--border);
    background: #eee;
    color: #666;
  }



.public-chating {
  /* flex: 1; */
  width: 100%;
  overflow-y: auto;
  padding: 10px;
  height: 75vh;
}

.public-chating::-webkit-scrollbar {
    width: 6px;
  }
  .public-chating::-webkit-scrollbar-track {
    background: #ddd;
  }
  .public-chating::-webkit-scrollbar-thumb {
    background: #bdbdbd;
  }

  .msg {
    display: flex;
    align-items: flex-end;
    margin-bottom: 10px;
  }
  .msg:last-of-type {
    margin: 0;
  }
  .msg-img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
    background: #ddd;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 50%;
  }
  .msg-bubble {
    max-width: 450px;
    padding: 15px;
    border-radius: 15px;
    background: var(--left-msg-bg);
  }
  .msg-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
  }
  .msg-info-name {
    margin-right: 10px;
    font-weight: bold;
  }
  .msg-info-time {
    font-size: 0.85em;
  }
  
  .left-msg .msg-bubble {
    border-bottom-left-radius: 0;
  }


  .right-msg {
    flex-direction: row-reverse;
  }
  .right-msg .msg-bubble {
    background: var(--right-msg-bg);
    color: #fff;
    border-bottom-right-radius: 0;
  }
  .right-msg .msg-img {
    margin: 0 0 0 10px;
  }


  .msger-inputarea {
    display: flex;
    padding: 10px;
    border-top: var(--border);
    background: #eee;
  }
  .msger-inputarea * {
    padding: 10px;
    border: none;
    border-radius: 3px;
    font-size: 1em;
  }
  .msger-input {
    flex: 1;
    background: #ddd;
  }
  .msger-send-btn {
    margin-left: 10px;
    background: rgb(0, 196, 65);
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    transition:  0.23s;
  }
  .msger-send-btn:hover {
    background: rgb(0, 180, 50);
  }

  .button_cont {
    color: #494949 !important;
    text-transform: uppercase;
    text-decoration: none;
    background: #ffffff;
    margin-top: 10px;
    height: 40px;
      width: 100px;
    font-weight: bold;
    border: 2px solid #8b8b8b !important;
    display: inline-block;
    transition: all 0.4s ease 0s;
    box-shadow: 0 15px 15px -5px rgba(100, 100, 100, 0.2);
    
    }

    .button_cont:hover {
      margin-top: 10px;
      color: #ffffff !important;
      background: #0d0e0d;
      font-weight: bold;
      border-color: #636363 !important;
      transition: all 0.4s ease 0s;
      height: 40px;
      width: 100px;
      box-shadow: 0 15px 15px -5px rgba(100, 100, 100, 0.2);
      }

      .clients-total{
        
        /* height: 5vh;
        width: 10vw; */
	display: block;
	font-weight: normal;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	letter-spacing: -1px;
	color: rgb(0, 0, 0);
  line-height: 24px;
  text-align: center;
  margin-top: 15px;
  padding: 10px;
  text-decoration: underline;
    /* border-bottom: var(--border); */
    /* background: #eee;
    color: #666; */
      }
      
      .clients-list{
        /* height: 5vh;
        width: 10vw; */
	display: block;
	font-weight: normal;
	font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  
	letter-spacing: -1px;
	color: rgb(0, 0, 0);
  line-height: 20px;
  /* background-color: #acacac; */
  display: flex;
  flex-direction:column;
    align-items: center;  

      }









/*


.container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-between;
}


.chatingSection {
    width: 80%;
    background-color: turquoise;
}

.chatingSection p {
    font-size: 13px;
    color: white;
}

.onlineSection {
    width: 20%;
    height: 100%;
    background-color: rgb(73, 71, 71);
    border: 2px solid red;
}


.private-chating {
    width: 100%;
    height: 25%;
    border: 1px solid red;
    background-color: rgb(63, 63, 58);
    overflow: auto;
}

.typing-section {
    width: 100%;
    height: 15%;
    background-color: rgb(134, 138, 138);
    border: 2px solid red;
}

.atalk-public {
    margin: 10px;
}

.atalk-public img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    float: left;
}

.atalk-public span {
    display: inline-block;
    background-color: silver;
    border-radius: 10px;
    color: slategrey;
    padding: 5px 10px;
    max-width: width 70%;
    white-space: pre-wrap;
    text-align: left;
}

.btalk-public {
    margin: 10px;
    text-align: right;
}

.btalk-public img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    float: right;
    margin-top: 0;
}

.btalk-public span {
    display: inline-block;
    background-color: silver;
    border-radius: 10px;
    color: slategrey;
    padding: 5px 10px;
    max-width: 70%;
    white-space: pre-wrap;
    text-align: left;
}

.atalk-private {
    margin: 10px;
}

.atalk-private img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    float: left;
}

.atalk-private span {
    display: inline-block;
    background-color: silver;
    border-radius: 10px;
    color: slategrey;
    padding: 5px 10px;
    max-width: width 70%;
    white-space: pre-wrap;
    text-align: left;
}

.btalk-private {
    margin: 10px;
    text-align: right;
}

.btalk-private img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    float: right;
    margin-top: 0;
}

.btalk-private > span {
    display: inline-block;
    background-color: silver;
    border-radius: 10px;
    color: slategrey;
    padding: 5px 10px;
    max-width: 70%;
    white-space: pre-wrap;
    text-align: left;
}

.whotalk {
    width: 80px;
    height: 30px;
    float: left;
    outline: none;
}

.talk_word {
    width: 90%;
    height: 85%;
    padding: 10px;
    float: left;
    margin-left: 10px;
    outline: none;
    text-indent: 10px;
    border: 1px solid red;
}

.talk_sub {
    width: 56px;
    height: 30px;
    float: left;
    margin-top: 10px;
    margin-left: 10px;
    background: black;
    border: none;
    color: #fff;
    border-radius: 20px;
    cursor: pointer;
}
